
.header
  display: flex
  justify-content: center
  height: 100px
  margin: 0 auto
  // background-color: blue
  .header-block
    display: flex
    width: 1140px
    justify-content: space-between
    // background-color: yellow
    .header-left
      display: flex
      // background-color: red
      .logo-img
        width: 59px
        height: 51px
        margin-top: 25px
        margin-left: -3px
        text-decoration: none
      .logo-text
        color: #222222
        font-family: Lato
        font-size: 27px
        font-weight: 300
        line-height: 16px
        letter-spacing: 0.68px
        text-transform: uppercase
        margin-top: 47px
        margin-left: 11px
        text-decoration: none
        span
           color: #f16d7f
           font-family: Lato
           font-weight: 600
      .search-container
        display: flex
        .browse-button
          display: flex
          align-items: center
          margin-top: 32px
          margin-left: 37px
          padding-left: 16px
          height: 37px
          border-radius: 3px 0 0 3px
          border: 1px solid #e6e6e6
          background-color: #cdcdcc
          background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%)
          .fa-caret-down
              display: flex
              color: #838383 
              margin-left: 8px
              margin-right: 8px
              transition: 0.7s
          span
            color: #222222
            font-family: Lato
            font-size: 14px
            font-weight: 300
            line-height: 32px
            transition: 0.5s
            &:hover
              color: #f16d7f 
            &:hover + .fa-caret-down
              color: #f16d7f 
        .search-form 
          display: flex
          align-items: center
          width: 317px
          height: 37px
          margin-top: 32px
          border-radius: 0 3px 3px 0
          border-right: 1px solid #e6e6e6
          border-top: 1px solid #e6e6e6
          border-bottom: 1px solid #e6e6e6
          background-color: #ffffff
          input
            color: #a4a4a4
            font-family: Lato
            font-size: 14px
            font-weight: 300
            line-height: 32px
            outline: none
            border: none
            width: 100%
            padding-left: 16px
            padding-right: 16px
          a .fa-search
            color: #a4a4a4
            height: 100%
            padding: 12px 11px 10px 11px
            border-left: 1px solid #e6e6e6
            transition: 0.7s
            &:hover 
              color: #f16d7f
    .header-right
      display: flex
      align-items: center
      width: 188px
      .cart-img
        margin-top: 15px
        margin-right: 22px
      .account-button
        display: flex
        height: 36px
        width: 128px
        align-items: center
        justify-content: center
        // margin-left: 2px
        // padding-left: 10px
        margin-right: -13px
        background-color: #f16d7f
        color: #ffffff
        text-decoration: none
        font-family: Lato
        font-size: 15px
        font-weight: 200
        line-height: 32px
        letter-spacing: 0.38px
        border: 1px solid #f16d7f
        transition: 0.7s
        &:hover
          background-color: #ffffff
          color: #f16d7f
        .fa-caret-down
          display: flex
          margin-left: 8px
          // margin-right: 8px

  
            
       
          
         
                