html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

.container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto; }

.header {
  height: 151px; }
  .header .header-left {
    display: flex;
    justify-content: space-around; }
    .header .header-left .logo-img {
      width: 59px;
      height: 51px;
      margin-top: 26px;
      text-decoration: none; }
    .header .header-left .logo-text {
      color: #222222;
      font-family: Lato;
      font-size: 27px;
      font-weight: 300;
      line-height: 32px;
      text-transform: uppercase;
      margin-top: 45px;
      margin-left: 13px;
      text-decoration: none; }
      .header .header-left .logo-text span {
        color: #f16d7f;
        font-family: Lato-Black;
        font-weight: 400; }
    .header .header-left .browse-button {
      display: flex;
      align-items: center;
      margin-top: 32px;
      margin-left: 37px;
      padding-left: 16px;
      padding-right: 25px;
      height: 38px;
      border-radius: 3px 0 0 3px;
      border: 1px solid #e6e6e6;
      background-color: #cdcdcc;
      background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%); }
      .header .header-left .browse-button span {
        color: #222222;
        font-family: Lato;
        font-size: 14px;
        font-weight: 300;
        line-height: 32px; }
